*{
    
    list-style: none ;
    text-decoration: none ;
    border-collapse: collapse ;
    margin:0px;
    padding:0px;
    color:0px;
    color:#000;
}
.sample{
    display:flex;
    margin: auto;
    width:1280px;
    height: 86px;
    background-color:bisque;
    border-radius: 5px;
}
.what{
    
    width: 300px;
    height: 40px;
    

}
.hap{
    display:flex;
    width: calc(880px);
    
    justify-content: flex-end;
    line-height: 86px;
}
.hap > li{
    font-size: 20px;
    
    margin-left: 200px;
    color: darkblue;
    height: 40px;
    
    
    
}
.al {
    
    background-color:antiquewhite;
    width:1100px;
    height: 700px;
    border-radius: 5px;
    margin-top: 3000px;

}
.one {
    display: flex;
}
.bl {
    
    background-color: antiquewhite;
    width:1100px;
    height: 700px;
    border-radius: 5px;
    margin-top: 3000px;
}
.two {
    display: flex;
}
.cl {
    
    background-color: antiquewhite;
    width:1100px;
    height: 700px;
    border-radius: 5px;
    margin-top: 3000px;

}
.three{
    display :flex;
}
.a {
    font-size: 55px;
    text-align: center;
    background-color: darkgrey;
    width:1000px;
    height: 86px;
    border-radius: 5px;
    
}
.b {
   
   
    font-size: 55px;
    text-align: center;
    

    background-color: darkgrey;
width:1000px;
height: 86px;
border-radius: 5px;

}
.c {
    font-size: 55px;
    text-align: center;
    background-color: darkgrey;
    width:1000px;
    height: 86px;
    border-radius: 5px;
    
}
.w {
    
    background-color: lightblue;
    width:100px;
    height: 86px;
    border-radius: 5px;
   
}
.s {
    background-color: lightblue;
    width:100px;
    height: 86px;
    border-radius: 5px;
    
}
.d{
    background-color: lightblue;
    width:100px;
    height: 86px;
    border-radius: 5px;
}
.text-one{
   
    text-align: center;
    font-size: 20px;
}
.text-two{
    text-align: center;
    font-size: 20px;

}
.text-three{
    text-align: center;
    font-size: 20px;

}
.pop{
    text-align: left;
}